---
import Icon from '../../utility/icon.jsx';

interface Props {
  heading: string;
  text: string;
  icon: string;
  link: string;
}

const block = Astro.props;
---

<a class="card" href={block.link}>
  <div class="icon">
    <Icon icon={block.icon} />
  </div>
  <h3>{block.heading}</h3>
  <p>{block.text}</p>
</a>

<style>
  .card {
    padding-block: 3rem;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
  .card p {
    font-weight: 300;
  }
  .icon {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 800px) {
    .card {
      /* grid-column: span 1 !important; */
    }
  }
</style>
