.c-select-input {
  display: grid;
  gap: var(--gap-extra-small);

  &__label {
    font-size: var(--label);
    line-height: var(--line-height);
  }

  &__input {
    padding: 12px 48px 12px 16px;
    border-radius: 4px;
    border: 2px solid;
    grid-row: 2;
    grid-column: 1;
    cursor: pointer;

    -webkit-appearance: none;
    appearance: none;

    background-color: transparent;

    &:focus {
      border: 2px solid var(--interaction-color, #2566f2);
      outline: none;
    }
  }

  &__dropdown-arrow {
    pointer-events: none;
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    justify-self: end;
    margin-right: 16px;
    width: 1rem;
  }
}
